.history-list {
  margin-top: 2rem;

  h2 {
    font-size: var(--fz20);
    margin-bottom: 1rem;
    text-align: center;
  }

  .history-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .history-item {
    flex: 0 0 calc(33.333% - 1rem);
  }
}
@media screen and (max-width: 768px) {
  .history-list {
    .history-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
