.result-card {
  padding: 1.3rem 1.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  .zipcode {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 1rem;
    span {
      background-color: #6c63ff;
      color: #fff;
      padding: 0.5rem 1.2rem;
      border-radius: 5px;
      margin-right: 1rem;
    }
  }
  .address-block {
    padding: 1rem 0;
    &:not(:nth-last-child(1)) {
      border-bottom: 1px solid #cdcdcd;
    }
    .address {
      margin-bottom: 1rem;
      span {
        font-size: var(--fz14);
        background-color: #f0f0f0;
        padding: 0.5rem 1.2rem;
        border-radius: 5px;
        margin-right: 1rem;
      }
    }
    .kana {
      span {
        font-size: var(--fz14);
        background-color: #f0f0f0;
        padding: 0.5rem 1.2rem;
        border-radius: 5px;
        margin-right: 1rem;
      }
    }
  }
}
